main{
    padding: 40px 30px;
    color: white;
}

.main--title{
    font-size: 39px;
}

.main--list{
    max-width: fit-content; 

}

.main--list > li::marker{ 
 color: #61dafb;
 font-size: 30px;
}

